#storybook-content-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.story-page-image {
    width: 100%
}

.story-page-caption-container {
    font-style: italic;
    width: 100%;
    padding-top: 8px;
}

#storybook-content-footer {
    display: flex;
    justify-content: space-between;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    color: white;
}

.cover {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-left: 18px;
    padding-right: 18px;
}

.page-end{
    display: flex;
    align-items: center;
    justify-content: center;

    padding-left: 18px;
    padding-right: 18px;
}